.page {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.page__main {
  display: flex;
  margin-top: 20px;
}

.page__sidebar {
  width: 25%;
  flex-shrink: 0;
  padding-right: 20px;
}

.page__content {
  width: 100%;
}

.page__header .sticky__container_active {
  top: 20px;
  max-width: 1200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.page__sidebar .sticky__container_active {
  top: auto;
  bottom: 0px;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
