.page {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.page__main {
  display: flex;
  margin-top: 20px;
}

.page__sidebar {
  width: 25%;
  flex-shrink: 0;
  padding-right: 20px;
}

.page__content {
  width: 100%;
}
