.page {
  display: flex;
  flex-direction: column;
}

.page__main {
  display: flex;
}

.page__sidebar {
  width: 300px;
}

.page__content {
  width: 100%;
  min-height: 2000px;
  background: #bada55;
}
